/* Main container for the education page */
.education-page {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  min-height: 80vh;
  padding: 3vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for the education content */
.education-container {
  background-color: rgba(256, 256, 256, 10%);
  padding: 2.5vh;
  border-radius: 4vh;
  width: 100%; /* Full width of the parent container */
  height: 60vh; /* Fixed height */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */
  display: flex;
  flex-direction: column; /* Vertical layout */
}

/* Slider containing buttons for each education item */
.education-slider {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  justify-content: flex-start; /* Align items to the start */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: transparent; /* Transparent background */
}

/* Style for each button in the education slider */
.slider-button {
  background-color: dimgrey;
  color: white;
  border: 0.2vh solid transparent; /* Invisible border for alignment */
  padding: 1.5vh;
  cursor: pointer; /* Cursor changes to pointer on hover */
  border-radius: 3vh; /* No rounded corners */
  text-align: center;
  font-weight: bold;
  margin: 0 0.5vh;
  font-size: 1.5vh;
  transition: all 0.5s ease; /* Smooth transition effect */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh; /* Fixed height */
  width: auto; /* Width adjusts based on content */
  box-shadow: inset 0 0 0 0 navajowhite;
}

/* Style for the active (selected) button */
.slider-button.active {
  font-weight: bold;
  border: 0.5vh solid floralwhite; /* Highlight with a white line */
}

/* Style for buttons on hover */
.slider-button:hover {
  box-shadow: inset 0 100px 0 0 antiquewhite;
  color: black;
  border: 0.5vh solid navajowhite; /* Highlight with a white line */
}

/* Container for detailed information about the selected education item */
.education-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/* Styles for the institution name, degree, and period */
.education-institution {
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 1vh;
  text-align: left;
}

.education-period {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.education-degree {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.education-description {
  font-size: 2.25vh;
  margin-top: 2vh;
}

/* Flex container for the institution's logo and text */
.institution-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

/* Main content area combining the logo and text */
.education-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Style for the institution logo */
.institution-image {
  height: 45vh; /* Adjusted height */
  width: auto; /* Auto width to maintain aspect ratio */
  margin-right: 2vh; /* Space between image and text */
  padding: 3vh;
  object-fit: contain; /* Ensures the image fits without distortion */
  border-radius: 0.5vh; /* Rounded corners for the image */
}

/* Style for the text content */
.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Style for the back button */
.back-button {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: transparent; /* No background for a cleaner look */
  color: white;
  font-weight: bold;
  border: none;
  padding: 1vh 1.5vh;
  cursor: pointer; /* Cursor changes to pointer on hover */
  font-size: 3vh; /* Larger font size for visibility */
  border-radius: 1vh;
  display: flex; /* Flex layout for icon and text alignment */
  align-items: center;
}

/* Style for the back button icon */
.back-button-icon {
  font-size: 3vh;
  margin-right: 2vh; /* Space between icon and text */
}

@media (max-width: 768px) {
  .title, .subtitle, .description {
    font-size: 14px; /* Slightly smaller font size for smaller screens */
  }

  .text-container {
    width: 150px; /* Adjust width for smaller screens */
    height: 150px; /* Adjust height for smaller screens */
  }

  /* Add other responsive adjustments as needed */
}
